<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projects</title>
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="{% static 'single_page/css/main.css' %}"> -->
  <link rel="stylesheet" href="{% static 'portfolio/css/project.css' %}">

</head>
<body>
  
<main>		
    <div>
      <article class="profile">
        <img src="https://picsum.photos/200/300" alt="프로젝트 이미지" >
        <h1>Project1</h1>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
        <a href="#" class="moreview">Watch More</a>
      </article>
    </div>
    <div>
      <article class="profile">
        <img src="https://picsum.photos/200/400" alt="프로젝트 이미지" >
        <h1>Project2</h1>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <a href="#" class="moreview">Watch More</a>
      </article>
    </div>
    <div>
      <article class="profile">
        <img src="https://picsum.photos/200/220" alt="프로필 이미지" >
        <h1>Project3</h1>
        <h2>Lorem ipsum dolor sit amet.</h2>
        <a href="#" class="moreview">Watch More</a>
      </article>
    </div>
	</main>

  <section>
    <nav class="menu">
      <a href="/"></a>
      <a href="/about_me/"></a>
      <a href="/dashboard/"></a>
      <a href="/pj/" class="on"></a>
      <a href="/note/"></a>
    </nav>
  </section>

  

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>