<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>[{{ post.title }}] Class Note</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'single_page/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'classnote/css/post.css' %}">
  <script src="https://kit.fontawesome.com/4d56c448c5.js" crossorigin="anonymous"></script>


</head>
<body>
  <!-- <nav>
    <a href="/note/">Note</a>
    <hr>
  </nav> -->
<div class="ps">
  <a href="/note/" class="fas fa-long-arrow-alt-left"></a>
  <div class="card mb-4">
    <div class="card-body">
      <h1 class="card-title">{{ post.title }}</h1>
      <h4>{{ post.hook_text }}</h4>
      <hr>
  
      {% if user.is_authenticated %}
      {% if user.is_superuser or user.is_staff %}
      <a class="btn btn btn-outline-primary btn-sm float-right" href="/note/update_post/{{ post.pk }}/" role="button"><i class="fas fa-pen"></i>  Edit Post</a>
      {% endif %}
      {% endif %}
  
      <p>{{ post.created_at }}</p>
      <hr>
      <p class="card-text">{{ post.get_content_markdown | safe }}</p>
  
      {% if post.tags.exists %}
      <i class="fas fa-tags"></i>
      {% for tag in post.tags.all %}
          <a href="{{ tag.get_absolute_url }}" class="badge badge-light">{{ tag }}</a>
      {% endfor %}
      <br/>
      <br/>
  {% endif %}
  
      {% if post.file_upload %}
      <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button" download>Download:
  
          {% if post.get_file_ext == 'csv' %}
          <i class="fas fa-file-csv"></i>
          {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
          <i class="fas fa-file-excel"></i>
          {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
          <i class="fas fa-file-word"></i>
          {% else %}
          <i class="far fa-file"></i>
          {% endif %}
          {{ post.get_file_name }}
      </a>
      {% endif %}
    </div>
  </div>
</div>
 
<!-- 댓글란 -->

<section>
  <nav class="menu">
    <a href="/" ></a>
    <a href="/about_me/"></a>
    <a href="skill.html"></a>
    <a href="/pj/"></a>
    <a href="/note/" class="on"></a>
  </nav>
</section>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>