/* reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul, ol, li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  background: lightblue;
  width: 90%;
  margin-top: 20px;
}

main {
  width: 100%;
  display: flex;
}

main div {
	width: 300px;
	padding: 30px;
	background-color: #fff;
	margin: 50px auto 10px;
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
  justify-content: space-between;
}

main div article.profile {
	width: 100%;
	text-align: center;
}
main div article.profile img {
	width: 240px;
	height: 210px;
	border-radius: 10px;
	margin-bottom: 20px;
  margin-top: 15px;
  object-fit: cover;
}

main div article.profile h1 {
	font-weight: bold;
	font-size: 22px;
	font-family: 'NanumBarunGothicYetHangul';
	letter-spacing: 1px;
	line-height: 1;
	color: #555;
	margin-bottom: 15px;
}
main div article.profile h2 {
	font-weight: normal;
	font-size: 12px;
	font-family: monospace;
	color: #bbb;
	margin-bottom: 30px;
}
main div a.moreview {
	display: block;
	width: 180px;
	height: 32px;
	margin: 0px auto 20px;
	background-color:aliceblue;
	border-radius: 16px;
	font-weight: bold;
	font-size: 12px;
	font-family: initial;
	color: rgb(81, 158, 245);
	line-height: 32px;
	text-align: center;
}


/* menu */
section {
  background: #000;
  width: 10px;
  height: 100%;
}

section nav.menu {
  position: absolute;
  /* width: 100%; */
  height: 250px;
  display: flex;
  flex-direction: column;
  left: 93%;
  top: 30%;
  justify-content: space-between;
}
section nav.menu a {
  background: aliceblue;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0px 10px;
}
section nav.menu a.on {
  background-color: rgb(81, 158, 245);
  box-shadow: 2px 2px 5px rgba(74, 152, 255, 0.7);
}