<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css" rel="stylesheet">
  <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumBarunGothicYetHangul.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'single_page/css/introduce.css' %}">
  <script src="https://kit.fontawesome.com/4d56c448c5.js" crossorigin="anonymous"></script>
  <script src="{% static 'single_page/js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'single_page/js/click.js' %}"></script>

</head>
<body class="post">
  <div class="row mt-3 pt-3">
    <div>
      <h4 class="ptitle">산불 관련 데이터 분석 및 시각화</h4>
      <hr>
      <!-- <br> -->
    <section>
      <div>
        <p class="contents">
          최근 연달아 발생한 산불. 산불 발생은 2007년부터 지금까지 계속해서 증가해왔다.<br>  자연환경을 해칠 뿐 아니라, 삶에도 영향을 미치지만 대부분이 도시에 살고 있는 우리는 산불에 대해 적은 경각심을 가지고 있다. <br>
          2016년부터 2020년까지 최근 5년간의 데이터를 통해, 어떤 상황에서 산불이 발생하는지를 알아보면서 개인이 취할 수 있는 행동과 사회가 해야할 일들에 대해 생각해봤다.
          
      </div>
      </div>
      <div class="col-md-7">
        <div id="causechart">
          <canvas id="myChart2" width="400" height="200"></canvas>
        </div>
        <div class="Chartwrapper" id="monthchart">
          <canvas id="myChart3" width="400" height="200"></canvas>
        </div>
        <div class="Chartwrapper" id="weekchart">
          <canvas id="myChart4" width="400" height="200"></canvas>
        </div>
        <div class="Chartwrapper" id="timechart">
          <canvas id="myChart1" width="400" height="200"></canvas>
        </div>
      </div>
      <div class="col-md-5">
        <a class="button btnPush btnBlueGreen" id="clickcause">원인별</a>
        <a class="button btnPush btnLightBlue" id="clickmonth">월별</a>
        <a class="button btnPush btnOrange" id="clickweek">요일별</a>
        <a class="button btnPush btnPurple" id="clicktime">시간별</a>
        <div id="causetext">
          <p>
            산불의 최대 원인은 입산자실화이다.<br> 국립공원을 비롯해 산들은 등산 시에 화기를 들고 가지 않는 것이 원칙인 것을 누구나 알고 있음에도 가장 많은 원인을 차지하고 있다.<br> 작은 불씨하나라는 안일함이 산불을 만들고 있다.
          </p>
        </div>
        <div id="monthtext" class="Chartwrapper">
          <p>
          날이 풀리고 야외활동을 시작하는 3월에 산불 발생횟수가 가장 많은 것을 알 수 있다.<br> 3월 이후에도 야외활동이 만연하지만, 여름이 되면서 습도가 높아지는 9월까지는 발생횟수가 3, 4월에 비해 현저히 낮음을 알 수 있다.</p>
        </div>
        <div id="weektext" class="Chartwrapper">
          <p>
            평일보다 산을 찾는 인원이 많은 주말에 산불 발생횟수가 더 높은 것을 볼 수 있다.<br>
            또한 공휴일에도 산을 찾는 사람이 많은데,<br>
            5년간의 공휴일이 약 65일이었던 일수에 비해 산불 발생횟수가 그의 2배가 넘는 다는 것은 사람들이 산을 많이 찾으면서 산불 발생이 증가한다는 것을 보여준다.
          </p>
        </div>
        <div id="timetext" class="Chartwrapper">
          <p>
          산은 해가 드는 시간이 매우 짧다.<br> 그 점을 고려해서 등산을 하기때문에, 입산자들이 활동하는 정오부터 해가 지기 전 오후까지의 산불 발생이 많다.<br> 그리하여 산에서 활동하기 어려운 오전과 야간에는 발생횟수가 적은 것을 알 수 있다.
          </p>
        </div>
        <hr>
      </div>
    </section>
  </div>

  <section>
    <div class="menu">
      <a href="/"></a>
      <a href="/about_me/"></a>
      <a href="/dashboard/" class="on"></a>
      <a href="/pj/"></a>
      <a href="/note/"></a>
    </div>
  </section>

  <!-- chart.js의 CDN -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>

  <script>
  const ctx1 = document.getElementById('myChart1').getContext('2d');
  const myChart1 = new Chart(ctx1, {
      type: 'bar',
      data: {
          labels: [
            {% for data in time_data %}
              '{{ data.time }}',
            {% endfor %}
          ],
          datasets: [{
              label: '시간별 발생횟수',
              data: [
              {% for data in time_data %}
              '{{ data.tsum }}',
              {% endfor %}
              ],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  const ctx2 = document.getElementById('myChart2').getContext('2d');
  const myChart2 = new Chart(ctx2, {
      type: 'bar',
      data: {
          labels: [
            {% for data in cause_data %}
              '{{ data.cause }}',
            {% endfor %}
          ],
          datasets: [{
              label: '요인별 발생횟수',
              data: [
              {% for data in cause_data %}
              '{{ data.csum }}',
              {% endfor %}
              ],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  const ctx3 = document.getElementById('myChart3').getContext('2d');
  const myChart3 = new Chart(ctx3, {
      type: 'bar',
      data: {
          // labels: ['대한민국', '스페인'],
          labels: [
            {% for data in month_data %}
              '{{ data.month }}',
            {% endfor %}
          ],
          datasets: [{
              label: '월별 발생횟수',
              data: [
              {% for data in month_data %}
              '{{ data.msum }}',
              {% endfor %}
              ],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  const ctx4 = document.getElementById('myChart4').getContext('2d');
  const myChart4 = new Chart(ctx4, {
      type: 'bar',
      data: {
          labels: [
            {% for data in day_data %}
              '{{ data.day }}',
            {% endfor %}
          ],
          datasets: [{
              label: '요일별 발생횟수',
              data: [
              {% for data in day_data %}
              '{{ data.dsum }}',
              {% endfor %}
              ],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  </script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>
